<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BicepsBrachii</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>滑轮胸前弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃胸前弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃斜托弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械胸前弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿牧师凳弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式胸前弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球坐姿弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>左特曼弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>肱二头肌</string>
	</dict>
	<key>Brachialis</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>角度俯卧弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>角度俯卧反握弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>锤式弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式单臂哑铃弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球弯举 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>肱肌</string>
	</dict>
	<key>Deltoids</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>阿诺德推举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿颈前推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>斜方肌拉力</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮前平举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>俯身滑轮侧平举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮侧平举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>螺旋运动</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃侧平举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃肩膀推举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>肩关节向外转动（无重量）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>高拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械侧平举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械三角肌后伸展</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械肩膀推举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>俯身哑铃侧平举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿反向飞鸟</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式螺旋运动</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球肩膀推举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>直立划船 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>三角肌</string>
	</dict>
	<key>Gastrocnemius</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>坐姿交互提踵</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式哑铃交互提踵</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>提踵</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃弹跳</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式单腿提踵 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>腓肠肌</string>
	</dict>
	<key>Glutes</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>杠铃过顶深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>提举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>肩上哑铃深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>壶铃侧弓步</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>壶铃深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>上下台阶</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧臀屈伸（无重量）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>单腿侧深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>高翻</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>杠铃侧蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>超人（姿势）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球架臀桥</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>臀大肌 
</string>
	</dict>
	<key>Hamstrings</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>提背</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮腿后腱弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>倾斜腿弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>杠铃压肩俯身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械腿弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>方向腹背训练</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球腿弯举 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>股后肌群</string>
	</dict>
	<key>LatissimusDorsi</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>助力引体向上</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>俯身杠铃划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮颈前下拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿滑轮高位划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮单臂下拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>反手引体向上</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>壶铃前倾划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿滑轮下拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿滑轮侧下拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>宽握引体向上</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>单臂划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>单臂下拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>丁字架前倾划船 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>背阔肌 </string>
	</dict>
	<key>LowerBack</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>杠深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>罗马尼亚哑铃提举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>眼镜蛇式俯卧</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>罗马尼亚杠铃提举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>罗马尼亚提举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>泽奇深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>下背肌</string>
	</dict>
	<key>Obliques</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>腹部弯曲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>杠铃体侧举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮扭腰</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮伐木</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>屈腿提身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧扭体</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃体侧屈</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃扭腰</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧夹球扭腰</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>侧卧起身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式斜身下拉</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球侧卧起身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球哑铃扭腰</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧扭体（保持）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>风车扭腰 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>腹斜肌 </string>
	</dict>
	<key>Pectoralis</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>杠铃卧推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>博苏膝式俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮扩胸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮卧推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮夹胸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>下斜式窄握卧推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>俯冲轰炸机式俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃飞鸟</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>下斜式哑铃卧推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>俯卧哑铃弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>下斜式杠铃卧推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械夹胸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械推胸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>旋转式俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球哑铃卧推</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑式俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>两点架桥</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>高位单侧滑轮飞鸟</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>低位单侧滑轮飞鸟</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>负重俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>胸大肌</string>
	</dict>
	<key>Quadriceps</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>杠铃压背深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>杠铃后拉深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>杠铃弓步</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>杠铃深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>初学者深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>保加利亚深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>保加利亚深蹲（无重量）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>前置滑轮深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮腿伸展</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃弓步</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃反弓步</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>铃前置深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>后拉深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械腿伸展</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑墙深蹲（无重量）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>相扑式深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球深蹲</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>负重前冲扭腰</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>四头肌</string>
	</dict>
	<key>RectusAbdominis</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>平衡球仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>腹部反向弯举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>持杠起身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮杠铃外移</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>条凳侧桥</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>脚踏车式踢击</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>哑铃触脚</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>吊杠提膝</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>吊杠提腿</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>斜面提腿</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>高位伐木</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>对折</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>膝式滑轮下压</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>斜式两头起</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧举腿</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>伸臂起身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>反向捲腹</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>撒克逊侧弯</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐式转体</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>奔跑式起身</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>肘碰膝</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>触脚</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>传统仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>扭腰提腿</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>两头起</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球负重仰卧起坐</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>转轮移出 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>腹直肌</string>
	</dict>
	<key>RotatorCuff</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>肩关节旋转肌群——外部</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>肩关节旋转肌群——内部 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>肩关节旋转肌群</string>
	</dict>
	<key>Trapezius</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>坐姿滑轮划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>俯身上拉（无重量）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>坐姿低位滑轮划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>站式滑轮划船</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>耸肩</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>平衡球划船 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>斜方肌 </string>
	</dict>
	<key>TricepsBrachii</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>架桥式板凳撑体</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮三头肌过顶伸展</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>滑轮三头肌下压</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>凳上双臂屈伸（无重量）</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>钻石式俯卧撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>屈臂伸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>法式拉举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>壶铃拉举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>卧式拉举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>卧式三头肌伸展</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>器械三头肌伸展</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>头上杠铃推举</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>负重臂屈伸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>三头肌助力屈伸</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>三头肌后撑</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>肱三头肌</string>
	</dict>
	<key>WristExtensors</key>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>哑铃旋腕</string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>反握弯举 </string>
				<key>isMyClass</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>伸腕肌 </string>
	</dict>
</dict>
</plist>
